* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Segoe UI', sans-serif;
  background: url(Imagenes/pexels-shvetsa-3962294.jpg);
  background-size: cover;
  background-repeat: none;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FormularioProducto {
  background-color: rgba(30, 30, 30, 0.2);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 15px;
  justify-content: center;
}

.Icono {
  width: 40px;
  margin-top: 0px;
  display: flex;
}

h1 {
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 2rem;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #fcfcfc;
  font-weight: 600;
}

input,
select {
  width: 300px;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border 0.3s ease;
}

input:focus,
select:focus {
  border-color: #0077cc;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 119, 204, 0.3);
}

button.AgregarCarrito {
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button.AgregarCarrito:hover {
  background-color: #005fa3;
  justify-content: center;
  align-items: center;
}